block content
	div(class=['ui','container','grid','stackable'])
		div(class=['sixteen','wide','column'] id='div-tbl-productos')
			h2(class=['ui', 'header', 'blue', 'dividing'])='Lista de productos'
			table(class=['ui','table','celled'] id='tbl-productos')
				thead
					tr
						th='ID'
						th='Nombre'
						th='Precio'
						th='Stock'
						th='Fecha de creación'
						th='Acciones'